<div class="drawer lg:drawer-open min-h-screen">
  <input #sidebarDrawer id="sidebar" type="checkbox" class="drawer-toggle" />

  <div class="drawer-content flex flex-col bg-base-200">
    <app-navbar />

    <main class="flex-1 p-6 lg:p-8">
      <router-outlet />
    </main>
  </div>

  <div class="drawer-side">
    <label for="sidebar" class="drawer-overlay"> </label>

    <app-sidebar [items]="menuItems" (itemSelected)="closeSidebar(sidebarDrawer)" />
  </div>
</div>

<app-toast-container />
